<!DOCTYPE html>
<html>

<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
</head>

<body>
    <div class="container">
        <h1>Welcome, <span class="username">
                <%= user.firstName %>
            </span></h1>
        <div class="profile">
            <h2>Profile</h2>
            <img src="<%= user.avatar %>">
            <ul>
                <li><strong>First Name:</strong>
                    <%= user.firstName %>
                </li>
                <li><strong>Last Name:</strong>
                    <%= user.lastName %>
                </li>
                <li><strong>Username:</strong>
                    <%= user.username %>
                </li>
                <li><strong>Gender:</strong>
                    <%= user.gender %>
                </li>
                <li><strong>Mobile:</strong>
                    <%= user.mobile %>
                </li>
                <li><strong>Role:</strong>
                    <%= user.role %>
                </li>
            </ul>
        </div>
        <div class="profile">

                <form id="update-user">
                    <label for="update-user-firstName">First Name</label>
                    <input type="text" id="update-user-firstName">
                    <label for="update-user-lastName">Last Name</label>
                    <input type="text" id="update-user-lastName">
                    <label for="update-user-password">Password</label>
                    <input type="password" id="update-user-password">
                    <label for="update-user-gender">Gender</label>
                    <select id="update-user-gender">
                        <option value="<%= user.gender %>" hidden selected>
                            <%= user.gender %>
                        </option>
                        <option value="not-set">not-set</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                    <label for="update-user-phoneNumber">Phone Number</label>
                    <input type="text" id="update-user-phoneNumber">
                    <button type="submit">Update User</button>
                </form>

        </div>

        <div class="content">
            <h2>Content</h2>
            <p>Here is some content for the user dashboard.</p>
        </div>
        <form class="my-form" action="/user/logout" method="get">
            <input type="submit" value="logout">
        </form>
        <form class="my-form" action="/user/deleteUser" method="get">
            <input type="submit" value="delete user">
        </form>
        <form class="my-form" action="/user/upload" enctype="multipart/form-data" method="POST">
            <label for="myFile">Upload a file:</label>
            <input type="file" name="myFile" id="myFile" />
            <input type="submit" value="Upload a file" />
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(() => {
    $("#update-user").on("submit",function (e) { 
        e.preventDefault();

        const updatedUser = {
        }
        if (!!$("#update-user-firstName").val()) updatedUser.firstName = $("#update-user-firstName").val()
        if (!!$("#update-user-lastName").val()) updatedUser.lastName = $("#update-user-lastName").val()
        if (!!$("#update-user-password").val()) updatedUser.password = $("#update-user-password").val()
        if (!!$("#update-user-phoneNumber").val()) updatedUser.mobile = $("#update-user-phoneNumber").val()
        if (!!$("#update-user-gender").val()) updatedUser.gender = $("#update-user-gender").val()
        console.log(updatedUser)
        fetch(`/user/`,
        {method: 'PATCH',
        headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(updatedUser)
        })
        .then(res => {
            res.json()
            $("#myModal").css("display","none")
            console.log(updatedUser)
            location.reload()
        })
    });

</script>
</body>

</html>