
<!DOCTYPE html>
<html>

<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
</head>

<body>
    <div class="container">
        <h1>Welcome, <span class="username"><%= user.firstName %></span></h1>
        <div class="profile">
            <h2>Profile</h2>
            <img src="<%= user.avatar %>">
            <ul>
                <li><strong>First Name:</strong>
                    <%= user.firstName %>
                </li>
                <li><strong>Last Name:</strong>
                    <%= user.lastName %>
                </li>
                <li><strong>Username:</strong>
                    <%= user.username %>
                </li>
                <li><strong>Gender:</strong>
                    <%= user.gender %>
                </li>
                <li><strong>Mobile:</strong>
                    <%= user.mobile %>
                </li>
                <li><strong>Role:</strong>
                    <%= user.role %>
                </li>
            </ul>
        </div>
        <div class="content">
            <h2>Content</h2>
            <p>Here is some content for the user dashboard.</p>
        </div>
        <form class="my-form" action="/user/logout" method="get">
            <input type="submit" value="logout">
        </form>
        <form class="my-form" action="/user/deleteUser" method="get">
            <input type="submit" value="delete user">
        </form>
        <form class="my-form" action="/user/upload" enctype="multipart/form-data" method="POST">
            <label for="myFile">Upload a file:</label>
            <input type="file" name="myFile" id="myFile" />
            <input type="submit" value="Upload a file" />
        </form>
    </div>
</body>

</html>